@using BulkyBook.Models

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model CoverType

<h1>Delete</h1>

<form method="post" asp-action="Delete">
    <input asp-for="Id" type="hidden" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Category</h2>
            <hr />
        </div>

        @*         <div asp-validation-summary="All" class="text-danger">
 *@

        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" disabled class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

         

        <button type="submit" class="btn btn-primary" style="width:150px">Delete</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">Geri Dön</a>
    </div>


</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />

}